<div class="col-12">
  <div class="card-gift">
    <div class="">
    <%= '<span class="new-gift-badge badge bg-success small">new</span>'.html_safe if gift.created_at >= (Date.today -7)  %>
      <div class="gift-img-container" >
        <% if gift.photo.key == nil%>
        <% else %>
          <%= cl_image_tag gift.photo.key %>
        <% end %>
      </div>
      <p class=" gift-price">$ <%= number_with_precision(gift.price, :precision => 0, :delimiter => ',') %></p>
      <h2 class="">
        <%= link_to "#{gift.title}", gift_path(gift), data: { turbo_frame: "modal" }%>
      </h2>
      <p class="gift-info text-capitalize">
      <% if gift.description?%>
        <% if gift.description.length > 40 %>
          <%= truncate(gift.description, length: 40) %>
        <%= link_to '...Leer más', gift_path(gift.id), data: { turbo_frame: "modal" } %>
        <% else %>
          <%= gift.description %>
        <% end %> </p>
      <% else %>
        "Sin detalle"
      <% end %> </p>

      <div class="gift-bottom">
        <%= link_to "Ver Mas", gift_path(gift.id), class: "btn btn-primary", data: { turbo_frame: "modal" } %>
      </div>
    </div>
  </div>
</div>
