<div class="col-3">
  <div class="product-grid p-4">
    <div class="product-image">
        <h3 class="title">
        <%= link_to "#{gift.title}", gift_path(gift)%>
      </h3>
    <% if gift.photo.key == nil%>
    <% else %>
      <%= cl_image_tag gift.photo.key, height: 100, width: 100, crop: :fill %>
    <% end %>
      <p class="text-capitalize"><%= gift.description %></p>
      <div>
        <%= link_to "Ver Mas", gift_path(gift.id), class: "btn btn-primary", data: { turbo_frame: "modal" } %>
        <div class="price">$ <%= number_with_precision(gift.price, :precision => 0, :delimiter => ',') %></div>
      </div>
    </div>
  </div>
</div>
