<div  class="flip-card card-category list-card py-4 mb-3 d-flex flex-column" style="background-image: url(<%= asset_path "backgrounds/list_background.png" %>)">
  <%= '<span class="new-badge badge bg-success small">new</span>'.html_safe if list.created_at >= (Date.today -7)  %>
  <div class="flip-card-inner" tab-index="0">
    <div class="flip-card-front">
      <%= link_to list_path(list) do %>
        <div>
          <h2><%= list.title %></h2>
          <p>De: <%= list.user.user_name %></p>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-center">
          <div class="m-2">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <span class="badge bg-primary rounded-pill m-0"><%= list.gifts.count %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flip-card-back">
      <%= link_to list_path(list) do %>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-pause="false" data-bs-ride="carousel" data-bs-interval="100">
        <div class="carousel-inner flip-list-card">
          <% list.gifts.each_with_index do |gift, index| %>
            <% if gift.photo.attached? %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag gift.photo&.key %>
              </div>
            <% else %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= image_tag "random-gift.jpg" %>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Ver Más", list_path(list), class:"btn btn-primary" %>
</div>
