<div style="font-size: 1.8em;">
  <div class="module-border-wrap" >
    <div class="module">
      <div class="container text-uppercase justify-content-between  d-flex align-items-center my-0 py-0">
        <h1 style="">Crear una Nueva Lista</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :title,
    label: "Titulo" %>
    <%= f.input :description,
    label: "Descripcion" %>
    <%= f.input :privacy %>
    <%= f.button :submit, "Crear Lista", class: "btn btn-primary"  %>
  <% end %>
</div>
