<div class="container">
  <div class="cards">
    <% @users.each do |user| %>
      <div>
        <figure class="snip1336">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key %>
          <% else %>
            <%= image_tag "random-gift.jpg", crop: :fill %>
          <% end %>
          <figcaption>
            <h2><%= user.first_name %> <%= user.last_name %><span><%= user.user_name %></span></h2>
            <p class="metrics-links"><%= user.gifts.count %> Regalos <%= user.lists.count %> Listas <%= link_to "#{user.followers.count} Seguidores", user_followers_path(user) %> <%= link_to "#{user.followees.count} Seguidos", user_followees_path(user) %></p>
            <p><i class="fa-solid fa-map-location-dot"></i> <%= user.address %></p>
            <p><i class="fa-solid fa-cake-candles"></i> <%= user.birth_date %></p>
            <section class="follow-links">
              <% if user.id == current_user.id %>
                <%= button_to "Logout", '/logout', method: :post %>
              <% elsif current_user.followees.include?(user) %>
                <h5><%= button_to '<i class="fa-solid fa-user-xmark"></i>  Dejar de Seguir'.html_safe, unfollow_user_path(user), method: "POST" %></h5>
              <% else %>
                <h5><%= button_to '<i class="fa-solid fa-user-plus"></i>  Seguir'.html_safe, follow_user_path(user), method: "POST"  %></h5>
              <% end%>
            </section>
            <a href="<%= user_path(user)%>" class="follow">IR AL PERFIL</a>
          </figcaption>
        </figure>
      </div>
    <% end %>
  </div>
</div>
