<div class="navbar navbar-expand-sm navbar-lewagon fixed-top"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logos/galo_logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="search-input">
          <%= form_with url: search_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Busca usuarios o regalos"
            %>
            <%= button_tag(type: "submit", class: "btn btn-outline-success") do %>
                <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
        </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Explorar Listas", lists_path(), class: "nav-link raise up" %>
        </li>
        <li class="nav-item">
          <%= link_to "Explorar regalos", gifts_path, class: "nav-link raise up" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Agregar Regalo", new_list_gift_path(List.find_by_user_id(current_user), @gift), class: "nav-link raise up" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mis Amigos", user_followees_path(current_user), class: "nav-link raise up" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "random-gift.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mi perfil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Mis Listas", lists_path(user: current_user), class: "dropdown-item" %>
              <%= link_to "Mis Regalos", gifts_path(user: current_user), class: "dropdown-item" %>
              <%= link_to "Editar usuario", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Desloguearme", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Ingresar/Registrarse", new_user_session_path, class: "nav-link raise up" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
