<div class="col-12 p-3">
  <div class="card-gift">
    <div class="">
    <%= '<span class="new-gift-badge badge bg-success small">new</span>'.html_safe if gift.created_at >= (Date.today -7)  %>
      <div class="gift-img-container" >
        <% if gift.photo.key == nil%>
        <% else %>
          <%= cl_image_tag gift.photo.key, crop: :fill %>
        <% end %>
      </div>
      <h2 class="">
        <%= link_to "#{gift.title}", gift_path(gift), data: { turbo_frame: "modal" }%>
      </h2>
      <div class="d-flex justify-content-between">
        <p class="gift-info text-capitalize"><%= gift.list.user.user_name %></p>
        <p class=" gift-price">$ <%= number_with_precision(gift.price, :precision => 0, :delimiter => ',') %></p>
      </div>
      <div class="gift-bottom">
        <%= link_to "Ver Mas", gift_path(gift.id), class: "btn btn-primary w-100", data: { turbo_frame: "modal" } %>
      </div>
    </div>
  </div>
</div>
