<div>
  <%= simple_form_for [@list, @gift], html: { class: "d-flex justify-content-between form-gift align-items-center flex-column"} do |f| %>
    <%= f.association :list, label: "Lista", selected: @list.id, include_blank: false, collection: List.where(user_id: current_user), wrapper_html: { class: 'form-control form-gift-item' }  %>
      <%= f.input :url, placeholder:"URL del Producto", label: false, wrapper_html: { class: 'form-control form-gift-item' }  %>
    <%= f.input :title, placeholder:"Titulo", label: false, wrapper_html: { class: 'form-control form-gift-item' } %>
    <%= f.input :description, placeholder:"Descripcion del Regalo", label: false, wrapper_html: { class: 'form-control form-gift-item' }  %>
    <div class="row">
      <div class="col-6">
        <%= f.input :price, as: :currency, label: "Precio", wrapper_html: { class: 'form-gift-item px-1' } %>
      </div>
      <div class="col-6">
        <%= f.input :ranking, label: "Deseómetro", wrapper_html: { class: 'form-gift-item px-1' }, input_html: { min: '0', max: '5', step: '1' } %>
      </div>
    </div>
    <%= f.input :photo, label: "Foto del Regalo", as: :file, wrapper_html: { class: 'form-control form-gift-item' }  %>
    <%= f.submit "Agrega tu Regalo", class: "btn btn-primary my-3" %>
  <% end %>
</div>
