
<div>
  <figure class="snip1336">
    <%= cl_image_tag element.searchable.photo.key%>
    <figcaption>
      <h2><%= element.searchable.first_name %> <%= element.searchable.last_name %><span><%= element.searchable.user_name %></span></h2>
      <p><i class="fa-solid fa-map-location-dot"></i> <%= element.searchable.address %></p>
      <p><i class="fa-solid fa-cake-candles"></i> <%= element.searchable.birth_date %></p>
      <a href="<%= user_path(element) %>" class="follow">IR AL PERFIL</a>
      <a href="#" class="info">More Info</a>
    </figcaption>
  </figure>
</div>
