<!DOCTYPE html>
<html>
  <head>
    <title>Galo905</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("logos/galo_logo.png") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>


    <div
      class="modal"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>

    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
